/*estilo general*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    color: rgb(23, 8, 68);
    margin: 0;
    font-size: 16px;
    line-height: 1.3em;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 2.5rem;
    color: rgb(212, 25, 25);
    font-weight: 800;
    width: 200px;
}
/*barra de inicio en el encabezado*/
header{
    display: block;
}
.barra {
    position: fixed;
    top: 0; left: 0; right: 0;
    box-shadow: 0 2px 10px rgb(37, 36, 36);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    background-color: rgb(192, 192, 192);
    z-index: 1000;}
   

.barra .marca  {
    font-weight: bolder;
    font-size:1.5rem;
    color:rgb(34, 5, 138);
    display: flex;
}
/*logo*/
img {
    display: flex;
    position: relative;
    width: 13%;
    top: 2px;
}
.logo {
    display: flex;
    position: relative;
    left:4px;
}
h2 p {
    color: #eee;
}
.marca h1 {
    
    font-size:2.5rem;
    height: auto;
    padding-left: 24px;
    color: rgb(31, 11, 104);
    position: absolute;
    left: 52px;
    top: 5px;
}
a h1 .marca {
    width: 25%;
}
.marca b {
    font-size:2.3rem;
    margin-top: 1rem;
    text-align: left;
    color: rgb(34, 5, 138);
    
}

    /* lista del lado derecho superior para la navegacion*/


.navegacion-lista ul{
    list-style: none;

}

.navegacion-lista ul li{
    position: relative;
    float: left;
    right: 20%;

}

.navegacion-lista ul li a {
    font-size: 20px;
    padding: 20px;
    color:rgb(32, 32, 34) ;
    display: block;
}

.navegacion-lista ul li a:hover {
    
    color:#fff;
    background-color: rgb(98, 3, 187);
    border-radius: 50px;
    border-color: 2px solid rgb(0, 0, 0);
}
.navegacion-lista ul li ul {
    position: absolute;
    left: 0;
    right: 20px;
    margin-left: 5px;
    align-items: center;
    width: 200px;
    background-color: rgb(193, 192, 194);
    display: none;
}
.navegacion-lista ul li ul li {
    width: 100%;
    border-top: 1px solid rgb(137, 137, 139);
}

.navegacion-lista ul li:hover> ul{
    display: initial;
    
}
#menu-adaptable {
    display: none;
    margin-left: 1px;
}
.navegacion-lista label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;

}
label {
    display: none;
}
h1::first-letter{
    color: rgb(219, 108, 4);
}
/* Adaptabilidad de la pantalla */

@media (max-width: 1141px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
    .marca a {
        position: relative;
    }
    .marca h1 {
        
        left: 35%;
        padding-left: 0;
        padding-top: 10px;
        margin: 15px 0 15px 0px;
        position: absolute;
    }
    .logo  {
        margin-right:0px ;
        left: 20px;
    }
    .navegacion-lista ul{
        margin-top: 0;
        left: 10%;
        position: relative;
    }
    .navegacion-lista ul li a {
        font-size: 20px;
        padding: 20px;
        color: #333;
        display: flex;}
    .primer-banner{
        margin-top: 70px;
    }
}
@media(max-width:750px) {
    header{
        display: inline-flex;
    }
    h1 {
        width: 100%;
    }
    a{
        position: relative;
        float: left;
        left: 10px;
    }
    .nombre{
        position: relative;
        display: flex;
        float: left;

    }
    .logo img {
        display: none;
         position: relative;
        width: 12%;
        float: left;
        margin-right: 2px;
    }
    .logo {
        display: flex;
        position: relative;
        
    }

    .navegacion-lista{
        padding: 10px;}
    
    label{
        display: initial;
    }
    header .navegacion-lista{
        position: absolute;
        top: 100%; left: 0; right:0 ;
        background-color: #fff;
        border-top: 1px solid rgb(23, 8, 68);
        display: none;
    }

    header .navegacion-lista ul li {
        width: 100%;
    }
    header .navegacion-lista ul li ul{
        position: relative;
        width: 100%;
       
    }
    header .navegacion-lista ul li ul li{
        
        left: 0;
    }
    #menu-adaptable {
        position: relative;
        float: right;
    }
    #menu-adaptable:checked ~ .navegacion-lista {
        display: initial;
    }
    
}

/* primer banner */
.primer-banner {
    background-image: url(img/primer-banner.png);
    background-repeat: round;
    padding-top: 100px;
    background-position-y: center;
    background-blend-mode: multiply;
    display: flex;
    background-color: rgb(232 228 233);
    height: 600px;
}


.contenido-banner {
    background-color: rgb(182, 101, 26);
    opacity: 95%;
    font-weight: 900;
    width: 40%;
    margin: 0;
    line-height: 2rem;
    text-align: left;
    margin-left: 4%;
    margin-bottom: 4%;
    display: block;
    padding: 2rem;
}
.boton-mono {
    width: 95%;
    background-color: lightgrey;
    border-radius: 40px;
    text-align: center;
}
.boton-mono:hover {
    background-color: rgb(150, 150, 150);
    border: 1px soli rgb(23, 8, 68);
}
.contenido-banner a {
    
    padding: 10px;
    text-align: center;
}
.contenido-banner h2 {
    line-height: normal;
    font-size: 2.5rem;
    color: rgb(9, 0, 58);
}
.contenido-banner p{
    color: rgb(25, 28, 65);
    font-size: 1.4rem;
}

/* Botones de la pagina */
.espacio-botones1
{
    display: flex;
}
.espacio-botones2{
    display: flex;
}
a {
    text-decoration: none;
}
.botones
{
    display: inline-flex;
    align-items: center;
    margin: 2px;
    padding: 5%;
    width: 40%;
    background-color: rgb(170, 149, 190);
    border-style: ridge;
    
}
#size-img {
    width: 80%;
}
.botones h3 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(37, 36, 36);
    font-size: larger;
}
.botones:hover {
    color: rgb(208, 162, 231);
    background-color: rgb(90, 87, 87);
}